.gallery {
	margin: 10px 50px;
}

.gallery img {
	/*transition: 1s;*/
	padding: 15px;
	height: 250px;
}

.gallery img:hover {
	transform: scale(1.02);
}

.small_gallery {
/*	margin: 10px 50px;*/
}

.small_gallery img {
/*	transition: 1s;
	padding: 15px;*/
	height: 150px;
	max-width:250px;
}

.small_gallery img:hover {
	transform: scale(1.02);
}

.gallery_slideshow {
	margin: 10px 50px;
}
