* {
    font-family: Roboto;
    color: #111111;

    
}

h1, h2, h3, h1>a, h2>a, h3>a{
    font-family: Bebas Neue;
    letter-spacing: 0.1em;
    text-decoration: none;
}


h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
}

.BebasNeue {
    font-family: Bebas Neue;
}

.BebasNeueLight {
    font-family: Bebas Neue Light;
}

.Pannetje_10 {
    font-family: pannetje_10;
}

body {
    margin: 0 auto;
    background-color: #eeeeee;
}

.margin_0 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.color-white {
    color: #ffffff;
}

.purple_bg {
    background-color: #2e3192;
}

.main {
    background-color: #ffffff;
}

.section {
    font-family: Roboto;
    background-color: #ffffff;
    text-align: center;
}

.img-100 {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.img-200 {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.img-200w {
    width: 200px;
    vertical-align: middle;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.align-middle {
  vertical-align: middle;
  position: relative;
/*  display: table-cell;*/
  background-color: red;
  vertical-align: middle;
  display: table-cell;
}

.align-base {
 vertical-align: bottom;
}

.frame {
    height: 200px;      /* Equals maximum image height */
    width: 200px;
    white-space: nowrap; /* This is required unless you put the helper span closely near the img */
}

.line {
    margin-right: 1em;
    margin-left: 1em;
    border-color: #2e3192;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    white-space: nowrap; /* This is required unless you put the helper span closely near the img */
    text-align: center;
}

.border {
    border: 1px solid red;
}

/*ID are below*/

#ep_lug {
    font-size: 100px;
    margin-top: 0.15em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.bottom-buttons {
    font-size: 20px;
}

#legal {
    font-size: 12px;
}
